# Created by https://www.gitignore.io/api/django,node
# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# browserify bundles
*/bundle.js
*/bundle.min.js

# virtualelv
mcenv/

# My little non-portable deploy script for bundle.js
deploy.sh

# Same thing for node
# mcnode/config/config.js

# Jetbrains IDEs
.idea
#static/thirdparty/ace-build
