body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#app-container {
  position: absolute;
  height: 100%;
  width: 100%;
}


.topnav {
  height: 70px;
  /*background-color: rgba(255, 255, 0, 0.19);*/
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  border-bottom: 2px solid #cccccc;
}

.ml-logo-container {
  position: fixed;
  width: 300px;
  /*background-color: rgba(0, 255, 255, 0.19);*/
  height: 70px;
}

.ml-logo {
  height: 50px;
  position: fixed;
  top: 8px;
  left: 21px;
}

.mclab-logo-text {
  position: fixed;
  top: 15px;
  left: 82px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 26px;
  color: #2c3d55;
}

.buttons-container {
  position: absolute;
  /*background-color: rgba(255, 0, 0, 0.19);*/
  left: 300px;
  width: 100%;
  height: 100%;
}

.topnav-button {
  float: left;
  margin-top: 18px;
  margin-right: 12px;
  background-color: #2c3d55;
  color: white;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.topnav-button:hover {
  text-decoration: none;
  color: white;
  background-color: hsla(215,32%,50%,1);
}

.body-container {
  /*background-color: rgba(0, 20, 0, .15);*/
  position: absolute;
  top: 70px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.file-explorer {
  width: 100%;
  height: 100%;
  border-right: 2px solid #cccccc;
  -webkit-transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  overflow: auto;
  /*background-color: rgba(255, 0, 255, .40);*/
}

.file-explorer-outer-container {
  float: left;
  position: relative;
  height: 100%;
  width: 300px;
  -webkit-transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


.file-explorer-inner-container {
  top: 0px;
  height: 100%;
  position: relative;
  min-width: 100%;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.file-explorer-outer-selection-mode {
  box-shadow: 0px 0px 20px rgba(76, 144, 245, 0.63);
  z-index: 100;
}

.file-explorer-inner-selection-mode {
  background-color: hsla(64, 20%, 97%, 1);
}

.file-explorer-selection-banner {
  background-color: hsla(216,89%,63%,1);
  font-family: 'Lato', sans-serif;
  color: white;
  height: 0px;
  padding: 0px 10px;
  line-height: 30px;
  bottom: -30px;
  overflow: hidden;
  /*font-style: italic;*/
  -webkit-transition: height 0.3s;
  transition: height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-direction: reverse;*/
  /*border-bottom: 2px solid #2c3d55;*/
}

.file-explorer-selection-banner-open {
  height: 30px;
}

.file-explorer-selection-close-button {
  float: right;
  color: inherit;
  font-size: 20px;
  font-weight: 200;
  line-height: 18px;
}

.file-explorer-selection-close-button:hover {
  font-weight: 400;
}


.file-tile {
  height: 30px;
  /*width: 100%;*/
  line-height: 30px;
  /*background-color: rgba(20, 20, 20, 0.2);*/
  /*border: 1px solid blue;*/
  color: #2c3d55;
  padding-left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;

  /* truncate text */
  white-space: nowrap;
  width: auto;
  /*overflow: visible;*/
  /*text-overflow: ellipsis;*/
}

.file-tile:hover {
  background-color: hsla(215,32%,95%,1);
}

.file-tile.file-tile-selected {
  background-color: #2c3d55;
  color: white;

}

.code-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70%;
  /*background-color: rgba(255, 100, 0, .40);*/
}

.code-top-bar {
  position: absolute;
  height: 30px;
  left: 0px;
  right: 0px;
  background-color: #2c3d55;
}

.title-container {
  position: absolute;
  left: 41px;
  right: 0px;
  padding-left: 10px;
  background-color: white;
  height: 27px;
  line-height: 27px;   /*Vertically center the filename*/
  font-family: Source Sans Pro, sans-serif;
  font-weight: bold;
  color: hsla(215,16%,37%,1);
}

.ace-container {
  position: absolute;
  top: 30px;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .70);

}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.file-explorer-upload {
  text-align: center;

  /* magic code to vertically center */
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);

}

.file-explorer-upload > div {
  margin: auto;
}


.terminal {
  height: 30%;
  background-color: hsla(215,18%,97%,1);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 10px;
  border-top: 4px solid #ccc;
  overflow: scroll;

  /* This is stolen from ace editor css */
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas,
    source-code-pro, monospace;
  font-size: 12px;
}

.terminal-line:hover {
  background-color: hsla(215,32%,94%,1);
}

.side-panel-container {
  float: right;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
  top: 0px;
  right: 0px;
  height: 100%;
  /*border-left: 3px solid black;*/
  box-shadow: -1px 0px 10px #2c3d55;
  z-index: 100;
  position: relative;
  padding: 10px 10px;
  font-family: 'Lato', sans-serif;
}

.side-panel-header {
  font-size: 20px;
  color: #2c3d55;
  font-weight: 400;
  height: 35px;
  border-bottom: 2px solid hsla(215,32%,90%,1);
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
}

.side-panel-body {
  overflow: auto;
  height: 95%;
}

.side-panel-close-button {
  float: right;
  color: inherit;
  font-size: 30px;
  font-weight: 100;
  line-height: 25px;
}

.side-panel-close-button:hover {
  font-weight: 700;
  cursor: pointer;
}

.side-panel-card {
  padding: 5px 5px;
  color: #2c3d55;
  overflow: visible;  /* To contain floating elements */
  border-top: 1px solid rgba(44, 61, 85, 0.08);
}

.side-panel-card:hover {
  background-color: hsla(215,18%,97%,0.2);
}

.side-panel-button {
  background-color: #2c3d55;
  color: white;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.side-panel-button:hover {
  text-decoration: none;
  color: white;
  background-color: hsla(215,32%,50%,1);
}

.side-panel-card-header {
  font-weight: bold;
  /*float: left;*/
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.fortran-compile-final-button-container {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.js-compile-final-button-container {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.fortran-compiler-select-main-file {
  text-decoration: underline;
  color: hsla(215,32%,50%,1);
  display: block;
  cursor: pointer;
}

.fortran-compiler-main-file-selector {
  cursor: pointer;
}

.fortran-compile-argument-type-block {
  display: inline-block;
  width: 30%;
  padding: 3px;
  vertical-align: top;
  height: 90px;
  margin-top: 10px;
}

.fortran-compile-argument-type-title {
  text-align: center;
}

.fortran-compile-argument-type-content {
  text-align: center;
  height: 40px;
}

.fortran-compile-argument-type-content .dropdown.btn-group {
  width: 100%;
}

.fortran-compile-argument-type-content button {
  width: 100%;
}

.fortran-compile-argument-type-content input {
  text-align: center;
}

.fortran-compile-argument-type-block.fortran-compile-argument-dimension{
  width: 18%;
}

.middle-container {
  /*clear: left;*/
  /*float: left;*/
  position: relative;
  overflow: hidden;
  height: 100%;
  /*background-color: green;*/
}

.argument-type-container {
  /*background-color: hsla(43, 30%, 90%, 1);*/
  display: block;
}

.ace_marker-layer .analysis-function {
  background-color: hsla(80, 64%, 66%, 0.69);
  position: absolute;
  z-index: 4;  /* The marker should be above the current line strip */
  border: 1px solid #AAA;
  box-sizing: content-box;
}

.ace_marker-layer .analysis-variable {
  background-color: hsla(225, 77%, 64%, 0.22);
  position: absolute;
  z-index: 4;  /* The marker should be above the current line strip */
  border: 1px solid #AAA;
  box-sizing: content-box;
}

.ace_marker-layer .undefined-function {
  background-color: hsla(0, 100%, 50%, 0.4);
  position: absolute;
  z-index: 4;  /* The marker should be above the current line strip */
  /*border: 1px solid #AAA;*/
  box-sizing: content-box;
}

.react-ace-marker-popup {
  position: absolute;
  z-index: 4;
  font-size: small;
  width: 250px;
  padding: 6px;
  border: 1px solid #AAA;
  border-radius: 5px;
  background-color: white;
  text-align: justify;
  pointer-events: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-family: Source Sans Pro, sans-serif;
}

.react-ace-marker-popup .message {
  margin-bottom: 10px;
}

.react-ace-marker-popup .dropdown {
  font-size: smaller;
}

.react-ace-marker-popup .dropdown a {
  font-size: smaller;
  padding-left: 10px;
  padding-right: 10px;
}

.strip-margins {
  margin: 0;
}

.terminal-error-color {
  color: hsl(2, 64%, 58%);
}

.kind-analysis-panel-sym-name {
  background-color: hsla(200, 20%, 97%, 0.98);
  padding: 2px 5px;
  margin-top: 7px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-weight: bold;
  font-size: 10pt;
}

.kind-analysis-panel-kind-name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 12pt;
}

.kind-analysis-panel-sym-position {
  padding: 0px 5px;
}
