body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#app-container {
  position: absolute;
  height: 100%;
  width: 100%;
}


.topnav {
  height: 70px;
  /*background-color: rgba(255, 255, 0, 0.19);*/
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  border-bottom: 2px solid #cccccc;
}

.ml-logo-container {
  position: fixed;
  width: 300px;
  /*background-color: rgba(0, 255, 255, 0.19);*/
  height: 70px;
}

.ml-logo {
  height: 50px;
  position: fixed;
  top: 8px;
  left: 21px;
}

.mclab-logo-text {
  position: fixed;
  top: 15px;
  left: 82px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 26px;
  color: #2c3d55;
}

.buttons-container {
  position: absolute;
  /*background-color: rgba(255, 0, 0, 0.19);*/
  left: 300px;
  width: 100%;
  height: 100%;
}

.topnav-button {
  float: left;
  margin-top: 18px;
  margin-right: 12px;
  background-color: #2c3d55;
  color: white;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.body-container {
  /*background-color: rgba(0, 20, 0, .15);*/
  position: absolute;
  top: 70px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.file-explorer {
  float:left;
  width: 300px;
  height: 100%;
  border-right: 2px solid #cccccc;
  overflow: auto;
  /*background-color: rgba(255, 0, 255, .40);*/
}

.file-tile {
  height: 30px;
  /*width: 100%;*/
  line-height: 30px;
  /*background-color: rgba(20, 20, 20, 0.2);*/
  /*border: 1px solid blue;*/
  color: #2c3d55;
  padding-left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;

  /* truncate text */
  white-space: nowrap;
  width: auto;
  /*overflow: visible;*/
  /*text-overflow: ellipsis;*/
}

.file-tile:hover {
  background-color: hsla(215,32%,95%,1);
}

.file-tile.file-tile-selected {
  background-color: #2c3d55;
  color: white;

}

.code-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70%;
  /*background-color: rgba(255, 100, 0, .40);*/
}

.code-top-bar {
  position: absolute;
  height: 30px;
  left: 0px;
  right: 0px;
  background-color: #2c3d55;
}

.title-container {
  position: absolute;
  left: 41px;
  right: 0px;
  padding-left: 10px;
  background-color: white;
  height: 27px;
  line-height: 27px;   /*Vertically center the filename*/
  font-family: Source Sans Pro, sans-serif;
  font-weight: bold;
  color: hsla(215,16%,37%,1);
}

.ace-container {
  position: absolute;
  top: 30px;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .70);

}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.file-explorer-upload {
  text-align: center;

  /* magic code to vertically center */
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);

}

.file-explorer-upload > div {
  margin: auto;
}

.terminal {
  height: 30%;
  background-color: hsla(215,18%,97%,1);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 10px;
  border-top: 4px solid #ccc;

  /* This is stolen from ace editor css */
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas,
    source-code-pro, monospace;
  font-size: 12px;
}

.terminal-line:hover {
  background-color: hsla(215,32%,94%,1);
}

.side-panel {
  float: right;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
  top: 0px;
  right: 0px;
  height: 100%;
  background-color: grey;
}

.middle-container {
  /*clear: left;*/
  /*float: left;*/
  position: relative;
  overflow: hidden;
  height: 100%;
  /*background-color: green;*/
}

.file-explorer-inner-container {
  min-width: 100%;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}
